{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <meta charset="utf-8">
  <head>
  {% block top %}

	<title>online store</title>
	<link rel="stylesheet" type="text/css" href="{% static './home/css/materialize.css' %}">
	<style type="text/css">
        		.brand{
        			background: #cbb09c !important;
        		}
        		.brand-text{
        			color: #cbb09c !important;
        		}
        		nav{
        			background:transparent;
        		}
        		form{
        			max-width: 460px;
        			margin: 20px auto;
        			padding: 20px;
        		}
	</style>
  </head>


{% endblock %}
<body>
    {%  block header %}
  <nav class="white-z-depth-0">
  		<div class="container">
  			<a href="#"class="brand-logo brand-text">Steves store</a>
  			<ul id="nav-mobile" class="right hide-on-small-and-down">
  				<li><a href="{% url 'home:home' %}" class="btn brand z-depth-0">Add Items</a></li>
  			</ul>
  		</div>
	</nav>
    {% endblock %}
    {%  block body %}
    <h1>Nothing yet</h1>
    {% endblock %}
    {%  block footer %}
          <footer class="section">
          	<div class="center grey-text">Copyright steve's  store 2020</div>
          </footer>
    {% endblock %}

  </body>
</html>
