{% extends "./base.html" %}

{% block body %}
  <h4 class="center grey-text">Online Store</h4>
	<div class="container">

  <div class="row">
  <!-- <div class="card-deck"> -->

      {% for allItem in allItems %}
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">

          <img src="/media/{{allItem.pic}}" class="card-img-top img-fluid img-thumbnail " alt="image">
          <div class="card-body">
            <h5 class="card-title">Item:  {{ allItem.itemTitle }}</h5>
            <p class="card-text"><b>Desc:</b>  {{ allItem.description }}</p>
          </div>
          <div class="card-action ">
                <a class='btn btn-info right-align mr-1.5' href="{% url 'home:details' allItem.itemId %}">Buy Item</a>
                <a class='btn btn-info right-align' href="{% url 'home:details' allItem.itemId %}">More Info</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ allItem.post_time }}</small>
          </div>

       </div>
      </div>
    {% endfor %}
</div>
</div>

{% endblock %}
